# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.*
!frontend/.env.example

# Backend
build/
.gradle/
target/

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# Logs
*.log

# Operating system
.DS_Store
Thumbs.db
/src/main/resources/application-local.properties